.header{
    padding-left: 100px;
}
.header h2{
    color: orange;
}

.full-container{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    
}
.activites-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 90px;
    
}