.header{
    padding-left: 100px;
    width: 50%;
}
.header h2{
    color: orange;
}

.full-container{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    
}
.activites-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 90px;
    row-gap: 30px;
    
    
}


.progress-container{
    background-color: aliceblue;
    padding-left: 20px;
    

}