.header{
    padding-left: 100px;
    width: 50%;
}
.header h2{
    color: orange;
}

.full-container{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    
    
}
.activites-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 90px;
    padding-bottom: 30px;
    row-gap: 30px;
    
    
}


.progress-container{
    background-color: aliceblue;
    padding-left: 20px;

    

}
@media only screen and (max-width: 600px) {
    .header{
        width: 100%;
    }
    .activites-container{
        width: 150px;
        display:list-item;
    
    }
    .progress-container{
        width: 300px;
        display:list-item;
        
    }
    .full-container{
        display:list-item;
        padding-right: 20px;
    }
}